<!DOCTYPE html>
<html>
<head>
    <title><%= post.title %></title>
</head>
<body>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>

    <h2>Comments:</h2>
    <ul>
        <% function renderComments(comments) { %>
            <% comments.forEach(comment => { %>
                <li>
                    <strong><%= comment.userinfo.username %>:</strong> <%= comment.comment %>
                    <p><strong><%= comment.userinfo.name %>:</strong> <%= comment.comment %></p>
                    <small>Posted at <%= comment.postedAt.toDateString() %></small>
                    <% if (comment.children.length > 0) { %>
                        <ul>
                            <%= renderComments(comment.children) %>
                        </ul>
                    <% } %>
                </li>
            <% }); %>
        <% } %>

        <%= renderComments(comments) %>

    </ul>
    <form action="/post/<%= post._id %>/comment" method="POST">
        <input type="hidden" name="parentId" value="<%= comments._id %>">
        <textarea name="comment" placeholder="Reply to this comment"></textarea>
        <button type="submit">Reply</button>
    </form>
</body>
</html>

